body {
  background: teal
}

.grid {
  background: white;
}

.cell {
  box-sizing: border-box;
  /* border-top-width: 1px;
  border-top-style: solid;
  border-top-color: white;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: white; */
}

.cell.visited {
  background-color: grey;
  color: black;
}

.cell.visited.player {
  /* background: tomato; */
  position: relative;
}

.cell.visited.player:after {
  content: '';
  background: red;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 10%;
  border-radius: 100px;
}
