:root {
  --main-bg-color: teal;
  --panel: whitesmoke;
  --player: rgb(255, 50, 0);
  --special-cell: dodgerblue;
  --visited-cell: lightgrey;
  --cell: grey;
  --cog: dodgerblue;
  --cog-background: black;
  --overlay-text-color: white;
  --panel-shadow: black;
}

body {
  background: var(--main-bg-color);
}

p {
  margin: 0;
}

#root {
  align-items: center;
}

.App {
  display: flex;
}

.panel {
  border: 2px solid var(--panel-shadow);
  background: var(--panel);
  box-shadow:
    1px 1px var(--panel-shadow),
    2px 2px var(--panel-shadow),
    3px 3px var(--panel-shadow),
    4px 4px var(--panel-shadow),
    5px 5px var(--panel-shadow),
    6px 6px var(--panel-shadow),
    7px 7px var(--panel-shadow),
    8px 8px var(--panel-shadow),
    9px 9px var(--panel-shadow),
    10px 10px var(--panel-shadow);
}

.scoreboard {
  margin-right: 1rem;
  padding: 10px;
}
.scoreboard h1 {
  margin-top: 0;
}

.scoreboard .current {
  background-color: aqua;
}

.overlay {
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  color: var(--overlay-text-color);
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 4rem;
  padding: 1rem;
  box-sizing: border-box;
  font-weight: bold;
  flex-direction: column;
}

.grid {
  padding: 10px;
  outline: 3px dotted;
  outline-offset: -10px;
}

.cell {
  box-sizing: border-box;
  transition: background 200ms;
  color: var(--cell);
  font-size: small;
  padding: 5px;
}

.cell.visited {
  background-color: var(--visited-cell);
}

.cell.visited.player {
  position: relative;
}

.cell.ending {
  background-color: var(--special-cell);
}

.cell.starting {
  background-color: var(--special-cell);
}

.cell.visited.player:after {
  content: '';
  background: var(--player);
  border-radius: 50px;
  animation: player 1000ms infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  width: 1.5rem;
  height: 1.5rem;
  left: 50%;
  margin-left: -.75rem;
  top: 50%;
  margin-top: -.75rem;
  position: absolute;
}

.cell.bt {
  border-top: 3px solid black
}

.cell.br {
  border-right: 3px solid black;
}

@keyframes player {
  from {
    transform: scale(1);
    box-shadow: 0px 0px 0px black
  }

  to {
    transform: scale(1.35);
    box-shadow: 0px 0px 5px black
  }
}

.scoreboard ol {
  padding-left: 1em;
}

.cog {
  width: 50px;
  height: 50px;
  background: var(--cog-background);
  position: relative;
  cursor: pointer;
  padding-top: 1px;
}

.cog .parts {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cog .parts:hover {
  animation: spin 5000ms infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.cog .parts span {
  background: var(--cog);
  width: 42px;
  height: 10px;
  border-radius: 2px;
  transform-origin: center;
  transform-origin: center;
  position: absolute;
}

.cog .parts:before {
  content: '';
  border-radius: 100px;
  background: var(--cog);
  width: 36px;
  height: 36px;
  z-index: 1;
  position: absolute;
}

.cog .parts:after {
  content: '';
  background: var(--cog-background);
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 100px;
  z-index: 1;
}

.cog .parts .two {
  transform: rotate(45deg);
}

.cog .parts .three {
  transform: rotate(90deg);
}

.cog .parts .four {
  transform: rotate(135deg);
}
