body {
  background: teal
}

.grid {
  background: white;
  border: 2px solid black;
  box-shadow: 10px 10px 0px black;
}

.cell {
  box-sizing: border-box;
  transition: background 200ms;
  color: grey;
  font-size: small;
}

.cell.visited {
  background-color: lightgrey;
}

.cell.visited.player {
  position: relative;
}

.cell.ending {
  background-color: dodgerblue;
}

.cell.starting {
  background-color: dodgerblue;
}

.cell.visited.player:after {
  content: '';
  background: red;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 10%;
  border-radius: 10px;
}
